---
Language: Cpp
AccessModifierOffset: 1
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
UseTab: Never
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfFile: false
ColumnLimit: 0
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
BinPackArguments: true
IndentPPDirectives: BeforeHash
AlignEscapedNewlines: Right
BreakTemplateDeclarations: MultiLine
AllowShortEnumsOnASingleLine: false
SpaceBeforeInheritanceColon: false
AlignTrailingComments:
  Kind: Always
IndentWrappedFunctionNames: false
SpaceBeforeCtorInitializerColon: false
AllowShortIfStatementsOnASingleLine: WithoutElse
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Never
BraceWrapping:
  AfterFunction: true
  AfterEnum: true
  AfterControlStatement: MultiLine
  AfterClass: true
  AfterCaseLabel: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  IndentBraces: true
